
    <!-- Header End -->
  <style>

  </style>
  <main>
      <!-- Hero Area Start-->
      {{!-- <div class="slider-area ">
          <div class="single-slider slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap text-center">
                              <h2>Cart List</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> --}}
       <!-- inner page section -->
    
      <!-- end inner page section -->
      <div class="line">

      </div>
      <!--================Cart Area =================-->
      <section class="cart_area ">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive-sm">
              <table class="table">
                <thead>
                  
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">offer price</th>
                    {{!-- <th scope="col">subtotal</th> --}}
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each cartItem.products}}
                  <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="/uploads/{{pro_id.Image.[0].image1}}" alt="" />
                        </div>
                        {{!-- <div class="media-body">
                          <p>{{pro_id.Name}}</p>
                        </div> --}}
                         <button  style="border:none;background-color:dimgray;color:white;border-radius:50%;margin:5px" onclick="changeQuantity('{{this._id}}','{{pro_id._id}}','{{this.quantity}}',-1)">-</button>
                      <span >{{this.quantity}}</span>
                        <button style="border:none;background-color:dimgray;color:white;border-radius:50%;margin:5px" onclick="changeQuantity('{{this._id}}','{{pro_id._id}}','{{this.quantity}}',1)"> +</button>
                       
                      </div>
                    </td>
                    <td>
                      <h5>{{pro_id.Price}}</h5>
                    </td>
                    <td>
                      
                    </td>
                    {{!-- <td>
                       <h5>{{subtotal}}</h5>
                    </td> --}}
                    
                    <td>
                      <div class="hero__caption">
                    <a  class="btn btn-danger"  onclick="deleteProduct('{{this._id}}')">REMOVE</a>
                    </div>
                    </td>

                  </tr>
                  {{/each}}   
                  {{!-- <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="assets/img/gallery/card2.png" alt="" />
                        </div>
                        <div class="media-body">
                          <p>Minimalistic shop for multipurpose use</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>$360.00</h5>
                    </td>
                    <td>
                      <div class="product_count">
                          <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                          <input class="input-number" type="text" value="1" min="0" max="10">
                          <span class="input-number-increment"> <i class="ti-plus"></i></span>
                      </div>
                    </td>
                    <td>
                      <h5>$720.00</h5>
                    </td>
                  </tr> --}}
                  <tr class="bottom_button">
                    <td>
                     
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                      {{!-- <div class="cupon_text float-right">
                        <a class="btn_1" href="#">Close Coupon</a>
                      </div> --}}
                    </td>
                  </tr>
                  <tr>
                    
                    <td></td>
                    <td></td>
                    
                    <td>
                      <h5>Nettotal</h5>
                    </td>
                    <td>
                      <h5>{{netTotal}}</h5>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td> </td>
                   <td>
                   <h5>Delivery charge</h5>
                    </td>
                   <td>
                    <h5>{{Delivery}}</h5>
                     </td>
                    
                    
                    
                  </tr>
                  <tr>
                    <td></td>
                    <td> </td>
                   <td>
                   <h5>Total</h5>
                    </td>
                   <td>
                    <h5>{{grandtotal}}</h5>
                     </td>
                    
                    
                    
                  </tr>
                  {{!-- <tr class="shipping_area">
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Shipping</h5>
                      
                    </td>
                    <td>
                      <div class="shipping_box">
                        <ul class="list">
                          <li>
                            Flat Rate: $5.00
                            <input type="radio" aria-label="Radio button for following text input">
                          </li>
                          <li>
                            Free Shipping
                            <input type="radio" aria-label="Radio button for following text input">
                          </li>
                          <li>
                            Flat Rate: $10.00
                            <input type="radio" aria-label="Radio button for following text input">
                          </li>
                          <li class="active">
                            Local Delivery: $2.00
                            <input type="radio" aria-label="Radio button for following text input">
                          </li>
                        </ul>
                        <h6>
                          Calculate Shipping
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </h6>
                        <select class="shipping_select">
                          <option value="1">Bangladesh</option>
                          <option value="2">India</option>
                          <option value="4">Pakistan</option>
                        </select>
                        <select class="shipping_select section_bg">
                          <option value="1">Select a State</option>
                          <option value="2">Select a State</option>
                          <option value="4">Select a State</option>
                        </select>
                        <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                        <a class="btn_1" href="#">Update Details</a>
                      </div>
                    </td>
                  </tr> --}}
                </tbody>
              </table>
              <div class="checkout_btn_inner float-right">
                <a class="btn btn-danger"  style="color:black;" href="#">Continue Shopping</a>
                <a class="btn btn-danger" style="color:black;" href="/checkout-page">Proceed to checkout</a>
              </div>
            </div>
          </div>
      </section>
      <!--================End Cart Area =================-->
  </main>
 
      <!-- Footer Start-->
       <div class="footer-area footer-padding">
          <div class="container">
             
              <!-- Footer bottom -->
           
          </div>
      </div>
      <!-- Footer End-->
  
  <!--? Search model Begin -->
 
  <!-- Search model end -->

  <!-- JS here -->
<script>
	function changeQuantity(cartid,proId,quantity,count){
  
		$.ajax({
			url:'/change-product-quantity',
			data:{
        cartid:cartid,
				quantity:quantity, 
				product:proId,
				count:count,
			},method:'post',
			success:(response)=>{
           
				if(response.removeProduct){
          alert('product removed cart')
          location.reload()

         
        }
         else{
            location.reload()
          }
        
			}
		})
	} 
</script>

<script>
  function deleteProduct(cartId){

    $.ajax({
      url:'/remove-product-from-cart',
      data:{
        cart:cartId
      },
      method:'post',
      success:(Response)=>{
        if(Response){
          alert('product removed from cart')
          location.reload()
        }
      }
    })
  }
</script>

 