

  
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script><!--sweetalert-->

<style>

</style>
<div class="line">

      </div>
<div class="container mt-5 mb-5" style="padding-top: 30px;">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img
                  id="main-image"
                  src="/uploads/{{this.products.Image.[0].image2}}" style="width:300px"
                  
                />
              </div>
              <div class="thumbnail text-center">
                <img
                  onclick="change_image(this)"
                 src="/uploads/{{this.products.Image.[0].image1}}" style="width:50px"
                 
                />
                <img
                  onclick="change_image(this)"
                  src="/uploads/{{this.products.Image.[0].image2}}" style="width:50px"
                 
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <i class="fa fa-long-arrow-left"></i>
                  <span class="ml-1"></span>
                </div>
                <i class=""></i>
              </div>
              <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">Product</span>
                <h5 class="text-uppercase">{{this.products.Name}}</h5>
                
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price"></span>
                  <div class="ml-2">
                    <small class="dis-price"></small>
                    <span></span>
                  </div>
                </div>
              </div>
               <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">Price after offer</span>
                <h5 class="text-uppercase"></h5>
                
                <div class="price d-flex flex-row align-items-center">
                  
                  <span class="act-price">₹ {{this.products.Price}}</span>
                  <div class="ml-2">
                    <small class="dis-price"></small>
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">Price before offer</span>
               
                
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price"></span>
                  <div class="ml-2">
                    <small class="dis-price">₹ {{this.products.mrp}}</small>
                    <span></span>
                  </div>
                </div>
              </div>
               <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">Percentage Discount</span>
                <h5 class="text-uppercase"></h5>
                
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price"></span>
                  <div class="ml-2">
                    <small class="dis-price"></small>
                    <span>%{{this.products.Discount}}</span>
                  </div>
                </div>
              </div>
               <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">stocks left</span>
                <h5 class="text-uppercase"></h5>
                
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price"></span>
                  <div class="ml-2">
                    <small class="dis-price"></small>
                    <span>{{this.products.stock}}</span>
                  </div>
                </div>
              </div>
              <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand">Color</span>
                <h5 class="text-uppercase"></h5>
                
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price"></span>
                  <div class="ml-2">
                    <small class="dis-price"></small>
                    <span>{{this.products.Color}}</span>
                  </div>
                </div>
              </div>
              <p class="about">
               <span>Bags for Men</span><br><span>15 litre bags to 60 litres backpacks</span>
              </p>

              <div class="cart mt-4 align-items-center">
                <button
                  class="btn btn-danger text-uppercase mr-2 px-4"
                  style="color:black;" onclick="addTocart('{{this.products._id}}')"
                >Add to cart</button>
                 <button
                  class="btn btn-danger text-uppercase mr-2 px-4"
                  style="color:black;" onclick="addTowishlist('{{this.products._id}}')"
                >Add to wishlist</button>
                
                <i class="fa fa-share-alt text-muted"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body { background-color: rgb(71, 69, 69) } .card { border: none } .product
  { background-color: #eee } .brand { font-size: 13px } .act-price { color: red;
  font-weight: 700 } .dis-price { text-decoration: line-through } .about {
  font-size: 14px } .color { margin-bottom: 10px } label.radio { cursor: pointer
  } label.radio input { position: absolute; top: 0; left: 0; visibility: hidden;
  pointer-events: none } label.radio span { padding: 2px 9px; border: 2px solid
  #ff0000; display: inline-block; color: #ff0000; border-radius: 3px;
  text-transform: uppercase } label.radio input:checked+span { border-color:
  #ff0000; background-color: #ff0000; color: #fff } .btn-danger {
  background-color: #ff0000 !important; border-color: #ff0000 !important }
  .btn-danger:hover { background-color: #da0606 !important; border-color:
  #da0606 !important } .btn-danger:focus { box-shadow: none } .cart i {
  margin-right: 10px }
</style>
<script>
  function change_image(image) { var container =
  document.getElementById("main-image"); container.src = image.src; }
  document.addEventListener("DOMContentLoaded", function (event) { });
</script>
 
 
